<mat-form-field appearance="fill">
    <mat-label>Choose Date</mat-label>
    <input [(ngModel)]="date" matInput [matDatepicker]="dp3">
    <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
    <mat-datepicker #dp3 disabled="false"></mat-datepicker>
  </mat-form-field>
<button mat-stroked-button color="primary" (click)="getWeekData()">Get Details</button>
<div class="row">
    <div class="col-md-4" *ngFor="let item of details;">
        <mat-card>
            <mat-card-title>{{item.name}}</mat-card-title>
            <div *ngFor="let obj of item.sessions;index as i">
                <strong style="color: black;">Session {{i+1}}</strong>&nbsp;
                <span>Min Age Limit: {{obj.min_age_limit | json}}</span>&nbsp;
                <span [ngClass]="obj.available_capacity ? 'green':'red'">Availability: {{obj.available_capacity | json}}</span>&nbsp;
                <span>Vaccine: {{obj.vaccine}}</span> &nbsp;
                <span>Fee Type: {{obj.fee_type}}</span>
                <br>
            </div>
        </mat-card>
    </div>
    <div *ngIf="details && details.length < 1">
        <strong>No Details Available</strong>
    </div>
</div>


